!/gradle/wrapper/gradle-wrapper.jar
!/src/main/java/enrichmentapi/dto/out/
.classpath
.DS_Store
.gradle
.idea
.mtj.tmp/
.project
.settings
.vscode
.vscode
*.class
*.ctxt
*.ear
*.iml
*.jar
*.log
*.nar
*.prefs
*.rar
*.so
*.tar.gz
*.tsv
*.war
*.zip
/.gradle/
/.idea/
/build/
/data/
/out/
/WebContent/WEB-INF/
bin
hs_err_pid*
