swagger: "2.0"
info:
  title: Signature Commons Data API
  description: An API for efficient data-level queries on the Signature Commons.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
schemes:
- "https"
host: amp.pharm.mssm.edu
basePath: /enrichmentapi/api/
paths:
  /enrich/:
    post:
      description: Perform enrichment analysis
      operationId: enrich
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        description: Body of request
        required: true
        schema:
          type: object
          properties:
            entities:
              type: array
              description: Entity UUIDs to use for the analysis
              items:
                type: string
            signatures:
              type: array
              description: Signature UUIDs to use for the analysis
              items:
                type: string
          required:
          - entities
      produces:
      - application/json
      responses:
        200:
          description: The analysis results
          schema:
            type: object
            properties:
              matchingEntities:
                type: array
                description: Entities used for enrichment analysis
                items:
                  type: string
              unknownEntities:
                type: array
                description: Entities not recognized or and therefore not used for enrichment analysis
                items:
                  type: string
              signatures:
                type: array
                description: Signatures used for enrichment analysis
                items:
                  type: string
              queryTimeSec:
                type: number
                description: How long it took to perform the query
              results:
                type: object
                description: Results of the enrichment analyisis. TODO Improve format
